.filter {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: 0 0 5px -5px #dfdfdf;
}
.filterCategoryContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
.priceStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  text-align: center;
  margin-bottom: 1rem;
}
